body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.quirky-header {
    text-align: center;
    padding: 10px;
    background-color: #2b8461;
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.login-form-container {
    flex: 1;
    padding: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color:#2b8461;
}

input[type="checkbox"] {
    margin-bottom: 20px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color:#2b8461;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:#2b8461;
}

.signup {
    text-align: center;
    margin-top: 20px;
}

.signup a {
    color:#2b8461;
    text-decoration: none;
}


.registration-form-container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Additional CSS for registration form */
#registrationForm input[type="text"],
#registrationForm input[type="password"],
#registrationForm input[type="email"],
#registrationForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#registrationForm input[type="text"]:focus,
#registrationForm input[type="password"]:focus,
#registrationForm input[type="email"]:focus,
#registrationForm select:focus {
    border-color:#2b8461;
}

#registrationForm button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color:#2b8461;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#registrationForm button[type="submit"]:hover {
    background-color:#2b8461;
}
#registrationForm input[type="text"][id="dob"]::placeholder {
    content: "--/--/----";
    color: #888; /* Adjust placeholder color if needed */
}